services:
    memcached:
        image: memcached:1-alpine
        restart: on-failure
        container_name: cache_services_memcached
        ports:
            -   "11211:11211"
    redis:
        image: redis:8-alpine
        restart: on-failure
        container_name: cache_services_redis
        ports:
            -   "6379:6379"
