name: Tests

on:
    push:
        branches:
            - '*'

jobs:
    tests:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                php:
                    - '8.3'
                    - '8.4'
                    - '8.5'
                os:
                    - ubuntu-latest
        services:
            memcached:
                image: memcached:1-alpine
                ports:
                    - 11211:11211
            redis:
                image: redis:8-alpine
                ports:
                    - 6379:6379
        steps:
            - uses: actions/checkout@v4
            - uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  tools: composer, phing
                  coverage: pcov
                  extensions: apcu,memcached,redis
                  ini-values: apc.enable_cli=1
            - run: phing test
